{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="admire-container">
            <div class="form-title" style="margin-bottom: 15px;">
                <h2>Compra de productos</h2>
            </div>
            <span class="liner"></span>
            <div class="detallecarrito">
                <div>
                    <p>Usuario:</p>
                    <p class="price">{{ boleta.usuario.username }}</p>
                </div>
                <div>
                    <p>Fecha de Compra:</p>
                    <p class="price">{{ boleta.fecha }}</p>
                </div>
                <div>
                    <p>Total:</p>
                    <p class="price">{{ boleta.total }}</p>
                </div>
            </div>
            <div class="d-flex justify-content-around" style="margin-top: 20px;">
                <form method="POST" action="{% url 'comprar' boleta.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-info btn-responsive">Comprar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}