{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <hr>
    <div class="login-container">
        <div class="form-title" style="margin-bottom: 15px;">
            <h2>Buscar</h2>
        </div>
        <span class="liner"></span>
        <div class="table-container">
            <table id="tobras"> 
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Total</th>
                        <th>Completado</th>
                        <th>Id</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% if user.is_authenticated %}
                        {% for ve in compras %}
                            <tr>
                                <td class="price">{{ve.usuario}}</td>
                                <td class="price">{{ve.total}}</td>
                                <td class="price">{{ve.complete}}</td>
                                <td class="price">{{ve.id}}</td>
                                <td class="price">{{ve.fecha}}</td>
                            </tr>
                        {%endfor%}
                    {% else %}
                        <tr>
                            <td colspan="3">
                                <div class="alert text-center">Sin compras realizadas</div>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}