{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="divDelMain">
        <span class="visortexto">
            <h1>¿Quiénes somos?</h1>
        </span>
    </div>
    <div class="divDelParr">
        <h1>
            <span class="ptext">
                <p> 
                    ¡Bienvenidos al mundo del arte con Grupo Cero! 
                    Somos un grupo de artistas plásticos apasionados y dedicados a diversas expresiones artísticas como la pintura, la escultura, la orfebrería, el tejido y mucho más. Decidimos unir fuerzas y formar una cooperativa con el objetivo de potenciar nuestras habilidades y crear un espacio donde podamos compartir nuestras obras con el mundo.
                    <br>
                    <br>
                    En Grupo Cero, trabajamos de manera colaborativa, lo que nos ha permitido establecer un taller y una sala de exhibición donde podemos mostrar nuestras creaciones al público. Además, hemos creado un acogedor café donde nos reunimos para discutir ideas, atender a nuestros clientes y ofrecer trabajos personalizados.
                    <br>
                    <br>
                    Gracias a nuestro arduo trabajo y dedicación, hemos ganado una reputación envidiable en el mundo del arte, lo que nos ha garantizado un flujo constante de ventas de nuestras obras.<br>Esto nos ha motivado a expandir nuestra presencia en línea y estamos emocionados de anunciar que pronto lanzaremos nuestra página web oficial.
                    <br>
                    <br>
                    En nuestra página web, podrás explorar una amplia gama de trabajos artísticos, conocer a cada uno de nuestros talentosos artistas y, quién sabe, ¡incluso adquirir una obra única para decorar tu hogar!
                    <br>
                    <br>
                    Ve nuestras obras con nosotros en este apasionante viaje artístico y descubre el fascinante mundo de Grupo Cero. ¡Te esperamos con los brazos abiertos!
                </p>
            </span>
        </h1>
    </div>
{% endblock %}