{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <hr>
    <div class="login-container">
        <div class="form-title" style="margin-bottom: 15px;">
            <h2>Buscar</h2>
        </div>
        <span class="liner"></span>
        <div class="table-container">
            <table id="tobras"> 
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                        <tr>
                            <td>
                                <a href="{% url 'profileWatch' u.username %}">
                                    <img src="{{ u.pic.url }}" class="img-table">
                                </a>
                            </td>
                            <td><a href="{% url 'profileWatch' u.username %}" class="td-a-profile">
                                {{u.username}}</a></td>
                            <td>{{u.first_name}}</td>
                            <td>{{u.last_name}}</td>
                            <td>{{u.email}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}